body{
    background-color: black;
}
#header{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}
#logo{
    display: flex;
    height: 10vmin;
    width: 20vmin;
    align-items: center;
    justify-content: center;
}
.headers{
    color: aliceblue;
    position: relative;
    bottom: 6vmin;
    left: 70%;
}
#cart{
    position: absolute;
    left: 10vmin;
    bottom: 90vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cartimg{
    height: 4vmin;
    width: 4vmin;
}
#k{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#everything1{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 140vmin;
    border-radius: 3vmin;
    
}
#words1{
background-color: darkgray;
width: 60vmin;
height: 60vmin;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 3vmin;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#pictures1{
    border-radius: 3vmin;
display: flex;
width: 80vmin;
flex-direction: column;
    align-items: center;
    position: relative;
}
#g1{
    width: 80vmin;
    height: 50vmin;
    border-radius: 3vmin;
    position: relative;

}
.p1{
    width: 26vmin;
    height: 10vmin;
    border-radius: 3vmin;
    position:relative;
}
.gs-class{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: beige;
}
.p1:active {
    width: 80vmin;
    height: 50vmin;
    border-radius: 3vmin;
    position:absolute;
    bottom: 10.6vmin;
    right: 0vmin;
}
h1{
    font-size: x-large;
    color: beige;
}
button{
    border-radius: 10vmin;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: black;
    cursor: pointer;
}
h2{
    margin: 0;
    display: flex;
flex-direction: column;
    align-items: center;
    font-family: 'Edwardian Script ITC', 'Edwardian Script ITC',sans-serif; font-size: 8vmin;
}
hr{
    color: black;
}
#pr{
    color: darkred;
}
h5{
    border-radius: 4vmin;
    width: 170vmin;
    background-color: dimgrey;
    color: antiquewhite;
    margin-top: 15vmin;
    padding: 3vmin;
    display: flex;
    padding-right: 0;
}
#p2{
    position: relative;
    bottom: 10vmin;
}
#c-class{
    display: flex;
    position: absolute;
    left: 6vmin;
    top: 100vmin;
    color: black;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    animation-name: jump1;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 3s;
    font-size: 10vmin;
    opacity: 0;
}
#S-Class{
    display: flex;
    position: absolute;
    left: 6vmin;
    top: 100vmin;
    color: black;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    animation-name: jump1;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 3s;
    font-size: 10vmin;
    opacity: 0;
}
#G-Class{
    display: flex;
    position: absolute;
    left: 6vmin;
    top: 100vmin;
    color: black;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    animation-name: jump1;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 3s;
    font-size: 10vmin;
    opacity: 0;
}
@keyframes jump1 {
    from { opacity: 0; color: black; left: 6vmin; top:80vmin;}
    to {opacity: 1; color: white; left: 6vmin; top: 20vmin;}
}

#icons{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items:flex-end;
}
.icons{
    width: 5vmin;
    height: 5vmin;
}
@media only screen and (max-width: 600px) {
    #div1 {
display: flex;
flex-direction: column;
text-align: center;
    }
}